
:root{
    --primary:#6093fa ;
    --secondary:rgb(23, 185, 74);
}
.im{
    border-radius: 77px;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}




/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 23, 43, .7);
    z-index: 1;
}
.para-caros{
  max-width: 700px;
}



@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
        
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height:100%;
        object-fit: cover;
    }
}

/*** Service ***/



/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
    transition: .5s;
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}

/*** Footer ***/
.newsletter {
    position: relative;
    z-index: 1;
}

.footer {
    position: relative;
    margin-top: -110px;
    padding-top: 180px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}








  
  .view{
    background-color:#dfe6e0;
    padding:10px;
    margin:20px;
  }
  
  .card{
    width:95%;
    padding:0px;
    margin-left: 2%;
  }
  
  .card-footer{
    background-color: #ff772e;
    font-weight: 700;
  }
  
  .price{
  color:#ff4517;
    font-weight: 600;
  
  }














.sidebar {
    top: 0px;
    position: fixed;
    width: 250px;
    height: 100vh;
    background-image: url(../img/sid.jpg);
    transition: 0.5s;
    z-index: 999;
  }
  .text-yallow{
      color: #d95a00;
  }
  @media (max-width: 1000.98px){
      .sidebar{top: 67px;
        height: 93vh;
          
      }
      .maps{
          display: none;
      }
  }
  .content {
    margin-left: 250px;
    transition: 0.5s;
  }

  @media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
  }

  @media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
  }



  .sidebar .navbar .navbar-nav .nav-link a {
    padding: 7px 20px;
    font-weight: bold;
    border-left: 3px solid #F3F6F9;
    width: 250px;
    
  }

  .sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
  }

  .description{
    background-color:#FEF0CC;
  }
  .review{
    background-color:#FEF0CC;
  }
  .actived{
    background-color: #FEF0CC;
  }
  .fa-star{
    cursor: pointer;
  }
  .prix{
    color: #F5BC29;
  }

  .bgStar{
     background-color: rgb(255, 255, 0); 
    color:#FEA116 ;
  }
.navbar a{
    font-size: 1rem;
    color: #F3F6F9;

}
.dash{
    border: 1px slateblue solid;
}
.cards{
    
    height: 175px;
}
.bg-che{
    background-image: url(../img/sid.jpg);
}
.bg-Ba{
    background-image: url(../img/sid.jpg);
}
.bg-so{
    background-image: url(../img/sid.jpg);
    
}
.bg-p{
    background-color: #FEA116 
}

/*Message dashbordpour l admin*/


.name {
    color: blue;
  }
  
  .work {
    font-weight: bold;
    font-size: 15px;
  }
  
  .about span {
    font-size: 13px;
  }
  
  .v-profile {
    color: blue;
    cursor: pointer;
  }
  
  .box {
    -webkit-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
    -moz-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
    box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
  }
  
  .col-md-3 {
    margin-top: 10px;
  }



/*card reservation*/


.card{
	
	background-color: #FEA116 ;
	border-radius : 12px;
/*	color: #2E7D32;*/
}

.text{

	color: #020202;
}

.images img{

	margin-right: -13px;
}

.btn i{

	font-size: 13px;
}























.pic {
width: 50px;
height: 50px;
object-fit: contain;
}

.table thead {
background-color: #FEA116 
}

.table thead th {
padding: 30px;
font-size: 14px;
color: white;
}



.container .table-wrap {

margin: 20px auto;
overflow-x: auto
}



.input {
width: 30px;
height: 30px;
color: black;
font-weight: 600;
outline: none;
padding: 8px;
}



.table tbody td {
padding: 30px;
margin: 0;
font-size: 14.5px;
font-weight: 600;
}













.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#FEA116 ), to(#d95a00));
    background: linear-gradient(to right, #fba92e,#FEA116 );
}




@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}


